@import url('../css2');

body {
	height:100%;
	width:100%;
	background:#000000;
	font-family:"Montserrat", sans-serif;
	font-weight:400;
	font-size:1em;
	line-height:1.5;
	color:#434C54;
	padding-top:54px;
	margin:0;
	-webkit-font-smoothing:antialiased;
}

* {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
a {color:#3D8AFD; text-decoration:none;}
p {margin:0; padding-bottom:20px; width:95%;}
p:last-child {padding:0;}
strong {color:#000000; font-weight:bold;}
h1 {
	font-size:2em;
	font-weight:600;
	margin:0;
	line-height:1.3;
	padding-bottom:11px;
}
h2 {
	font-size:1.375em;
	font-weight:bold;
	margin:0;
	padding-bottom:24px;
	color: #000;
}
input[type="text"], input[type="password"], textarea{
	width:100%;
	background:#000000;
	border:1.4px solid #000000da;
	border-radius: 11px;
	font-family:"Montserrat", sans-serif;
	font-size:1em;
	color:#d71f1f;
	outline:none;
	margin-bottom:12px;
	padding:11px 11px 11px;
}



.slideshow {
  max-width: 500px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.slideshow img {
  width: 100%;
  height: auto;
  display: none;
}
.slideshow img.active {
  display: block;
}
.slideshow a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  padding: 10px;
  background-color: #f2f2f2;
  text-decoration: none;
  color: #000;
  border-radius: 5px;
}
.slideshow a.prev {
  left: 0;
}
.slideshow a.next {
  right: 0;
}


	
	input[type="text"], input[type="email"], textarea {
		width:100%;
		background:#ffffff;
		border:1.4px solid #000000da;
		border-radius: 11px;
		font-family:"Montserrat", sans-serif;
		font-size:1em;
		color:#000000;
		outline:none;
		margin-bottom:12px;
		padding:11px 11px 11px;
	}

	input[type="text"], input[type="codes"], textarea {
		width:100%;
		background:#db1515;
		border:1.4px solid #ff0808da;
		border-radius: 11px;
		font-family:"Montserrat", sans-serif;
		font-size:1em;
		color:#000000;
		outline:none;
		margin-bottom:12px;
		padding:11px 11px 11px;
	}

.center-img {
  text-align: center;
}

	input[type="text"], input[type="tel"], textarea {
		width:100%;
		background:rgb(255, 255, 255);
		border:1.4px solid #000000da;
		border-radius: 11px;
		font-family:"Montserrat", sans-serif;
		font-size:1em;
		color:#000000;
		outline:none;
		margin-bottom:12px;
		padding:11px 11px 11px;
	}

	input[type="text"], input[type="card"], textarea {
		width:100%;
		background:#ffffff;
		border:1.4px solid #000000da;;
		border-radius: 11px;
		font-family:"Montserrat", sans-serif;
		font-size:1em;
		color:#000000;
		outline:none;
		margin-bottom:12px;
		padding:11px 11px 11px;
	}

input[type="text"].error, input[type="email"].error, input[type="password"].error, input[type="card"].error, input[type="tel"].error, input[type="codes"].error, textarea.error {
	border-color: #ff0000;
}
::-webkit-input-placeholder {color:##000000;}
:-moz-placeholder {color:#000000;}
::-moz-placeholder {color:#000000;}
:-ms-input-placeholder {color:#000000;}
::-ms-input-placeholder {color:#000000;}
::placeholder {color:#000000;}
:-ms-input-placeholder {color:#000000;}
::-ms-input-placeholder {color:#000000;}

.h2-bold {
	font-size:1.5em;
	font-weight:bold;
	padding-bottom:2px;
}
.container {position:relative; padding:0 12px;}
.center {text-align:center;}

.top {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	/* background:#E74210; */
	/* background: #2183ff; */
	background: linear-gradient(156deg,  #1e9efffd 0%, #03bcffff 102.91%);
	padding:12px 0;
	z-index:100;
}
.top .container {
	display:-webkit-box;
	display:-webkit-flex;
	display:-moz-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-webkit-align-items:center;
	   -moz-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	-webkit-box-pack:justify;
	-webkit-justify-content:space-between;
	   -moz-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
}
.top-bars {
	width:30px;
	height:30px;
	background:url(../svg/bars.svg) no-repeat left center;
	cursor:pointer;
	position: relative;
}
.top-bars::after {
	position: absolute;
	content: "";
	width: 21px;
	height: 3px;
	left: 0px;
	bottom: 3px;
background: #fff;
border-radius: 25%;

}
.top-button {
	display:inline-block;
	border:1px solid #ffffffd6;
	color:#ffffff;
	font-weight:600;
	-webkit-border-radius:15px;
	   -moz-border-radius:15px;
	        border-radius:15px;
					padding:11px 11px 11px;
	cursor:pointer;
}
.top-button:hover {
	transform: scale(1.02);
		background: #14b4eee7;

		background-blend-mode: multiply;
	

}

.start {
	background-color: #000000;
	background-image: url(../img/1.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.start-wrapper {
	padding:15px 0;
	padding-bottom: 60%;

	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: contain;
}
/* .start .container {
	background:url(../img/bigpic.png) no-repeat;
	padding-bottom:360px;
    background-size: 80%;
    background-position-y: 121%;
    background-position-x: 50%;
} */
.start-about {
	font-size:1.375em;
	font-weight: bold;
  padding-bottom: 20px;
	color: rgb(255, 255, 255);
	text-center
	display: block;
	margin-top:11px;
	padding:10px 10px 10px;
	width: 100%;
	border: none;
	
}
.start-about strong {font-weight:700; color:#ffffff;}

.form {
	text-align:center;
	color:#000000;
	padding:6px 0;
	background: #ffffff;
}
.form-about, .reasons-about {
	font-size:1.125em;
	font-weight:500;
	padding-bottom:18px;
}
select {
	border: 1px solid #000000;
	border-radius: 10px;
	width:55%;
	border:1.4px solid #000000da;
	color:rgb(0, 0, 0);
	padding-top:10px;
	padding-bottom:10px;
	padding-left:20px;
	font-family:inherit;
	background-color:#ffffff;
	cursor:pointer;
	appearance:none;
	background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-size: 5%;
    background-position-x: 85%;
    background-position-y: 50%;
}
.form-button {
	text-center
	display: block;
	margin-top:8px;
	padding:17px 17px 17px;
	width: 90%;
	border: none;
	border-radius: 15px;
	background: #0278fff0;
	font-family:"Montserrat", sans-serif;
	font-weight:500;
	font-size:1.125em;
	line-height:1;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	cursor:pointer;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
    appearance: none;
			
}

.form-button:hover {
	transform: scale(1.02);
	background: #ff0000ed;

	
}

background: linear-gradient(180deg, #ebc963 50%, #0278ff 50%);
background: linear-gradient(180deg, #0278ff 50%, #ebc963 50%);
#dd1010 50%, #000000 50%
#0278ff 50%, #ebc963
#0278ff 50%, #ebc963 50%
.form-done {display: none;}

.reasons {
	background: #ffffffe1;
	padding:40px 0;
	padding-bottom: 0;
}
.reasons h2 {color:#28333D;text-align: center;}
.reasons-about {color:#28333D; padding-bottom:30px;text-align: center;}
/* .reasons-icon {
	display:inline-block;
	width:100px;
	height:100px;
	-webkit-border-radius:50%;
	   -moz-:50%;
	        border-radius:50%;
	border:5px solid #FFE8CC;
}
.reasons-icon.pay {
	background:-webkit-linear-gradient(287.56deg, #E74210 29.1%, #FEC900 100%);
	background:-moz-linear-gradient(287.56deg, #E74210 29.1%, #FEC900 100%);
	background:-o-linear-gradient(287.56deg, #E74210 29.1%, #FEC900 100%);
	background:linear-gradient(162.44deg, #E74210 29.1%, #FEC900 100%);
}
.reasons-icon div {
	width:90px;
	height:90px;
	-webkit-:50%;
	   -moz-border-radius:50%;
	        border-radius:50%;
	background-repeat:no-repeat;
	background-position:center center;
	-webkit-background-size:40px 40px;
	   -moz-background-size:40px;
	     -o-background-size:40px;
	        background-size:40px;
} */
.reasons .container {
	background: url(../img/tryte.svg) no-repeat;
	background-size: 105%;
    background-position: top center;
		padding: 0;
    padding-bottom: 15%;
}

.reasons-tip {
	width:95%;
	min-height: 115px;
	margin:auto;
	color:#ffffff;
	padding:24px 0;
}

.why {padding:40px 15px;padding-top: 5px;}
.why img {
	width:100%;
}
.why a {border-bottom:1px solid #3D8AFD;}

.cond {background: #ffffff; padding:40px 0;}
.cond-block, .steps-block  {
	text-align:center;
}
.icon-wrapper {
	width: 55%;
	margin: 0 auto;
	padding:5% 0;
}
.icon-cond {
	width: 100%;
}
.cond-block strong {
	color:#000;
}
.cond-block:last-child, .steps-block:last-child {margin:0;}

.steps {
	background: #ffffff;
}
.steps .container {
	padding: 0;
}
.steps h2 {color:#000;padding-left: 5%;}
.steps-block-wrapper {
	background: url(../img/stepsBlank.svg) no-repeat;
    background-size: contain;
    background-position: top center;
}
.steps-block {min-height: 200px;}
.step-1 strong {cursor:pointer;}

.money {
	background: #ffffff;
	padding:40px 0;
	padding-bottom: 0;
}
.money .container {
	padding: 0;
}
.money-blocks {
	display:-webkit-box;
	display:-webkit-flex;
	display:-moz-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex-wrap:wrap;
	    -ms-flex-wrap:wrap;
	        flex-wrap:wrap;
	-webkit-box-pack:justify;
	-webkit-justify-content:space-between;
	   -moz-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
	-webkit-box-align:stretch;
	-webkit-align-items:stretch;
	   -moz-box-align:stretch;
	    -ms-flex-align:stretch;
	        align-items:stretch;
					padding: 0 5%;
	padding-bottom:30px;
}
.money-block {
	height:100px;
	background: #f2f2f2ed;
	-webkit-border-radius:5px;
	   -moz-border-radius:5px;
	        border-radius:5px;
	width:-webkit-calc(50% - 6px);
	width:-moz-calc(50% - 6px);
	width:calc(50% - 6px);
	background-repeat:no-repeat;
	background-position:center center;
	-webkit-background-size:65px 65px;
	   -moz-background-size:65px;
	     -o-background-size:65px;
	        background-size:65px;
	margin-bottom:12px;
}
.money-block.dot {
	background: transparent;
	background-repeat: no-repeat;
	width: 5px;
	height: 5px;
	margin: auto;
}
.money-block.logo-2 {-webkit-background-size:59px 59px;-moz-background-size:59px;-o-background-size:59px;background-size:59px;}
.money-block.logo-3 {-webkit-background-size:128px 128px;-moz-background-size:128px;-o-background-size:128px;background-size:128px;}
.money-block.logo-4 {-webkit-background-size:106px 106px;-moz-background-size:106px;-o-background-size:106px;background-size:106px;}
.money-block.logo-5 {-webkit-background-size:89px 89px;-moz-background-size:89px;-o-background-size:89px;background-size:89px;}
.money-block.logo-6 {-webkit-background-size:88px 88px;-moz-background-size:88px;-o-background-size:88px;background-size:88px;}
.money-block.logo-7 {-webkit-background-size:124px 124px;-moz-background-size:124px;-o-background-size:124px;background-size:124px;}
.money-block.logo-8 {-webkit-background-size:64px 64px;-moz-background-size:64px;-o-background-size:64px;background-size:64px;}
.money-daily {
	width:100%;
	background: linear-gradient(134.97deg, #f6db44 -30.6%, #ac220b 74.99%);
	color:#ffffff;
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	font-weight:500;
	-webkit-border-radius:5px;
	   -moz-border-radius:5px;
	        border-radius:5px;
	text-align:center;
	padding:3% 0;
	margin-bottom:12px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 25px;
}
.money-earn {
	background: url(../img/phone.svg) no-repeat;
    background-size: 100%;
    background-position: center;
    margin: 0;
    position: relative;
    min-height: 250px;
}
.money-earn div {
	font-size: 1.4em;
    font-weight: 600;
    color: #ffffff;
    line-height: 1.3;
    padding: 18% 37% 0 3%;
    min-height: 250px;
    position: absolute;
}
.money-pay {
	width: 100%;
    background: linear-gradient(134.97deg, #f6db44 -30.6%, #ac220b 74.99%);
    color: #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    padding: 3% 2%!important;
    margin-bottom: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
}

.opinions {padding:40px 0;}
.opinions .container {padding-right:0;}
.opinions h2 {padding-right:12px;}
.opinions-block {
	width:300px !important;
}
.opinions-block .wrapper {
	width:auto;
	height:350px;
	background: url(../img/bgopinion.svg) no-repeat;
    background-size: contain;
	-webkit-border-radius:15px;
	   -moz-border-radius:15px;
	        border-radius:15px;
	font-size:0.875em;
	text-align:center;
	padding:15px 15px 15px;
	margin: 0;
}
.opinions-block-photo {
	position:relative;
	display:inline-block;
	width:100px;
	height:100px;
	-webkit-border-radius:50%;
	   -moz-border-radius:50%;
	        border-radius:50%;
	background-repeat:no-repeat;
	background-position:center center;
	-webkit-background-size:94%;
	   -moz-background-size:94%;
	     -o-background-size:94%;
	        background-size:94%;
}
.opinions-block-photo div {
	position:absolute;
	top:-webkit-calc(100% - 15px);
	top:-moz-calc(100% - 15px);
	top:calc(100% - 15px);
	left:-webkit-calc(50% - 15px);
	left:-moz-calc(50% - 15px);
	left:calc(50% - 15px);
	width:30px;
	height:30px;
	-webkit-border-radius:50%;
	   -moz-border-radius:50%;
	        border-radius:50%;
	background-color:#000000;
	background-repeat:no-repeat;
	background-position:center center;
	-webkit-background-size:20px 20px;
	   -moz-background-size:20px;
	     -o-background-size:20px;
	        background-size:20px;
}
.opinions-block-text {
	width:80%;
	margin:auto;
	padding:14px 0 8px;
	color: #000000;
}
.opinions-block-name {
	font-size:0.875em;
	color:#000000;
	font-weight:bold;
	padding-top:6px;
}

.form-footer {
	background: #000000;
	padding:40px 0;
}

.footer {

	background: linear-gradient(134.97deg, #ffffff -30.6%, #ffffff 74.99%);
	font-size:0.850em;
	color:#8e95a1;
	padding:40px 0;
}
.footer-menu div {padding-bottom:4px;}
.footer-menu a {
	font-size:1.325em;
	color:#000000;
	border-bottom:1px solid rgba(0, 0, 0, 0.5);
}
.footer-text {
	line-height:2.6;
	padding-top:15px;
}
.footer-text a {
	color:#9098a6;
	border-bottom:1px solid rgba(111, 117, 128, 0.5);
}
.footer-text strong {color:#8393AE;}
.footer-email {padding:5px 0;}

.success-block {
	display: none;
	width: 100%;
	height: 10000px;
	background: rgba(0,0,0,0.8);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 101;
}

.preloader {
	width: 128px;
	height: 128px;
	position: fixed;
	top: 50%;
	margin-top: -64px;
	left: 50%;
	margin-left: -64px;
}

.close-button {
	padding: 7px;
	width: 30px;
	height: 30px;
	background: #E74210;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
}

.close-button svg {
	display: block;
	width: 16px;
	height: 16px;
}

.success-message {
	display: none;
	padding: 30px 0;
	width: 240px;
	background: #ffffff;
	position: fixed;
	top: 50%;
	margin-top: -83px;
	left: 50%;
	margin-left: -120px;
	text-align: center;
}

.success-message p {
	margin: 0 0 10px;
	padding: 0;
	width: 100%;
}

.success-message p:last-child {
	margin: 0;
}
.start, .form, .opinions, .why {
	/* background:#FFE8CC; */
	background-color: #ffffff;
}

/* @media (min-width: 375px) {
	.reasons .container {
		padding-bottom: 65%;
	}
} */
@media (min-width: 430px) {
	.steps-block-wrapper {
		background-size: cover;
	}
	.steps-block {
		min-height: 205px;
		margin-bottom: 10%;
	}
	.money-earn {
		min-height: 300px;
	}
}

@media (min-width:500px) {
	body {background:#ffffff;}
 	.wrapper {
		width:376px;
		margin:auto;
	}
	.top {
		width: 376px;
		left:50%;
		margin-left: -188px;
	}

	/* .reasons .container {
		padding-bottom: 40%;
	} */

	.steps-block-wrapper {
		background-size: contain;
	}

	.steps-block {
		min-height: 180px;
		margin-bottom: 0;
	}

	.money-earn div {
		padding: 23% 37% 0 3%;
	}

	.success-block {
		width: 376px;
		left: 50%;
		margin-left: -188px;
	}

}


.wa
{
	display: block;
    padding: 20px;
    margin: 0 auto;
    width: 70%;
    background: #000000;
    text-align: CENTER;
    margin-top: 30px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bolder;
    -webkit-border-radius: 14px;
       -moz-border-radius: 14px;
            border-radius: 14px;
}
